* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

/*  HEADER  */
header {
    background-color: #f0f0f0;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: large;
}

a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

/*  HOME PAGE  */
h1 {
    text-align: center;
    margin-bottom: 20px;
}


/*  PROFILE PAGE   */
.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

fieldset {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.profile-info, .about-me, .hobbies, .skills, .career-goal {
    margin-bottom: 20px;
}


/*  COURSE PAGE  */
ol {
    font-size: large;
    list-style-type: decimal;
    padding-left: 20px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 40px;
}

.course {
    background-color: #e7e7e7af;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

iframe {
    width: 80%;
    height: 300px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}