* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background-color: white;
}


/*  HEADER  */
header {
    margin:10px;
    height:auto;
    border:1px solid rgba(0, 0, 0, 0.381);
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
}

nav ul{
    list-style-type:none;
    display:flex;
    gap:20px;
}

ul {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: large;
}

a {
    text-decoration: none;
    color: #333;
}

nav a:hover{
    color:red;
}

a:visited{
    color:purple;
}

main {
    padding: 20px;
}

/*  HOME PAGE  */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}


/*  PROFILE PAGE   */
.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding: 0 40px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display:block;
    margin:auto;
}

fieldset {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.profile-info, .about-me, .hobbies, .skills, .career-goal {
    margin-bottom: 20px;
}


/*  COURSE PAGE  */
ol {
    font-size: large;
    list-style-type: decimal;
    padding-left: 20px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 50px;
    padding: 40px;
}

.course {
    background-color: #e7e7e7af;
    border: 2px solid #cccccc;
    box-shadow: 8px 8px 10px #cccccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

iframe {
    width: 80%;
    height: 250px;
    border-radius: 5px;
    margin-top: 15px;
}


/*  FEADBACK  */
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    text-align: center;
    font-size: 24px;
}

.form {
    border: 2px solid #cccccc;
    padding: 30px;
    font-size: large;
    background-color: #e7e7e7af;
    box-shadow: 8px 8px 10px #cccccc;
    border-radius: 10px;
}

.label{
    font-weight: bold;
}

input:focus{
    border: 2px solid blue;
}

#name, #email, #suggestions {
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
}

textarea:focus{
    background:#f5f5f5;
}

#favorite {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*  GRADES TABLE  */
table {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #cccccc;
    border-collapse:collapse;
}

caption {
    font-size: x-large;
    margin-bottom: 10px;
}

th, tfoot {
    padding: 10px 20px;
    font-size: large;
    background-color: #f0f0f0;
    border:1px solid black;
}

td {
    padding: 5px 10px;
    border:1px solid black;
}

tr:nth-child(even){
    background-color:#f2f2f2;
}

table td:first-child {
    font-weight: bold;
}

tr:hover{
    background-color:#dbeafe;
}


/*  CONTACT US  */
.contact-head {
    text-align: center;
}

.contact-info {
    margin: 30px auto;
    border: 2px solid #cccccc;
    box-shadow: 8px 8px 10px #cccccc;
    background-color: #f3f2f2cb;
    padding: 20px 40px;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

.contact-info h2 {
    text-align: center;
    margin-bottom: 10px;
}

#address {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
}

#contact-button {
    margin-top: 10px;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
}

button:hover{
    background:red;
}

footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    text-align: center;
    margin:15px;
    border:1px solid rgba(0, 0, 0, 0.353);
    height:60px;
}


@media (max-width:768px){

    h1{
        font-size:30px;
    }

    h2{
        font-size:24px;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
    }

    .courses{
        grid-template-columns:1fr;
        width:100%;
    }

    .course{
        width:100%;
    }

    img{
        width:150px;
    }

    table{
        font-size:14px;
    }
}